<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="donorExists">Donante: {{donor.name}}</ion-title>
    <ion-title *ngIf="error">Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="donorExists">
  <ion-card id="donorCard">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <b>Fecha de la última Unidad de Trabajo (WU)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.last}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Puntuación Total</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="{{donor.credit_cert}}">
                {{donor.credit}}
              </a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Total de Unidades de Trabajo (WUs)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="{{donor.wus_cert}}">
                {{donor.wus}}
              </a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Posición en el Ranking</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.rank}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Clientes activos (Últimos 50 dias)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.active_50}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Clientes activos (Últimos 7 dias)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.active_7}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-toolbar>
    <ion-title>Contribuciones por equipo</ion-title>
  </ion-toolbar>


  <ion-card *ngFor="let team of teams">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <b>Equipo</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="/team/{{team.team}}">{{team.name}}</a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Puntuación</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.credit}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Unidades de Trabajo (WUs)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.wus}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Fecha de la última Unidad de Trabajo (WU)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.last}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Clientes activos (Últimos 50 dias)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.active_50}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Clientes activos (Últimos 7 dias)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.active_7}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="numTimesLeft<=0 && rest<=0">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-content *ngIf="error">
  <ion-card >
    <ion-card-header>
      El donante "{{name}}" no existe 
    </ion-card-header>
  </ion-card>
</ion-content>