<ion-footer>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="text-warning">Folding At Home</h6>
          <p class="text-justify">Se trata de un proyecto, el cual pretende servir de ayuda
            en la investigación de posibles tratamientos contra el COVID-19.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="text-warning">Información</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/home']">El Proyecto</a></li>
            <li><a [routerLink]="['/manual']">Manual de instalación</a></li>
            <li><a [routerLink]="['/colaborar']">Como colaborar</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6 class="text-warning">Datos</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['/estadisticas']">Estadísticas</a></li>
            <li><a [routerLink]="['/tablon-respuestas']">Tablón de respuestas</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Todos los derechos reservados
            <a href="#">David Galera, Javier Sánchez, Ariel Carrera y David Zazpe</a>.
          </p> 
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" target="blank" href="https://www.facebook.com/pages/category/Community/Foldinghome-136059519794607/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" target="blank" href="https://twitter.com/foldingathome?lang=es"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" target="blank" href="http://www.linkedin.com/shareArticle?url=https://foldingathome.org/about/&title=About"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</ion-footer>