<ion-header>
  <ion-toolbar>
    <ion-title>colaborar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    En primer lugar es necesario descargar el software creado por Folding At Home para quipos
  particulares.
  Una vez instalado el programa abre directamente una ventana del navegador web del usuario,
  y éste puede elegir en qué condiciones quiere colaborar con el proyecto, ya sea de manera
  anónima o dando su identidad, con mayor o menor intensidad, o en momentos en los que el
  equipo está inactivo o mientras está trabajando en paralelo con otras tareas.
  Por otro lado, cada usuario puede elegir si prefiere contribuir a una línea de investigación
  específica ya que pueden colaborar para distintas enfermedades e ir consultando los puntos
  acumulados por su ordenador o por el equipo del que forma parte.
  </p>
</ion-content>
