.colaborar-photo{
    width: 50%; 
    height: 50%;
    float:left; 
    margin-right: 30px;
    border-radius: 50%;
}

a{
    color: orange;
}
ion-text{
    line-height: 30px ;
    font-size: 19px ;
    font-weight: 100;
    color:white;
  }
  .title{
    color: orange;
    font-weight: bold;
    font-size: 2em;
  }

  ion-button{
    --background:rgba(255,165,0, 0.8);
    width: 320px;
    padding-right: 20px;
  }

  ion-button:hover{
    transform: scale(1.03) perspective(1px)
  }
