<ion-header>
  <ion-toolbar>
    <ion-title>Cómo colaborar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="title">DESCARGANDO EL PROGRAMA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Mientras continúas con tus actividades cotidianas, tu ordenador trabajará para ayudar a encontrar curas para
        enfermedades como el COVID-19, cáncer, ELA, Parkinson, Huntington y muchas otras. <br><br> Echa un vistazo a nuestro <a [routerLink]="['/manual']"> manual de instalación </a>  para empezar.
      </ion-text>
      <br>
      <br>
      <br>
      <ion-button [routerLink]="['/manual']">
        <ion-icon  slot="start" name="book"></ion-icon>Manual de instalación
      </ion-button>
      
    </ion-card-content>
    <br>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="title">HACIENDO UNA DONACIÓN</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Hay más de un método para contribuir en la investigación de Folding at home además de descargar y ejecutar nuestro software. También puedes donar fondos que permitirán al equipo a continuar con el trabajo en los campos del plegamiento de proteínas, el diseño computacional de medicamentos y varias otras formas de dinámica molecular.
        <br><br>
        Puedes contribuir con una donación a nombre de tu <a href="https://alumni.wustl.edu/give/annualfund/Pages/Corporate-Matching.aspx" target="_blank">empresa</a> o de forma <a href="https://gifts.wustl.edu/med/index.html?other_designation_description=Folding@Home%20(Dr%20Greg%20Bowman,%20Dept%20of%20Biochemistry)&0_d_tr1=71&sc=NG" target="_blank">particular</a>.
      </ion-text>
      <br>
      <br>
      <br>
      <ion-button href="https://alumni.wustl.edu/give/annualfund/Pages/Corporate-Matching.aspx" target="_blank">
        <ion-icon  slot="start" name="logo-usd"></ion-icon>Donación para empresas
      </ion-button>
      <ion-button href="https://gifts.wustl.edu/med/index.html?other_designation_description=Folding@Home%20(Dr%20Greg%20Bowman,%20Dept%20of%20Biochemistry)&0_d_tr1=71&sc=NG" target="_blank">
        <ion-icon  slot="start" name="logo-usd"></ion-icon>Donación para particulares
      </ion-button>
      
    </ion-card-content>
    <br>
  </ion-card>


  <!-- <ion-card>
    <ion-card-header>
      <img style="width: 50%; height: 50%; float:left; margin-right: 30px; border-radius: 50%;"
        src="../../assets/img/manos.jpg" />
      <ion-card-title>Instalar Folding at Home es fácil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" [routerLink]="['/manual']">
        Click para saber cómo
      </ion-button>
    </ion-card-content>
  </ion-card>-->


  <app-footer></app-footer>
</ion-content>