<ion-header>
  <ion-toolbar>
    <ion-title>Cómo colaborar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <h1 style="margin-left: 20px;" class="title">Descargando el programa</h1>
  <ion-list>
    <ion-item>
      <ion-text>
        Mientras continúa con sus actividades cotidianas, su ordenador trabajará para ayudar a encontrar curas para
        enfermedades como el cáncer, ELA, Parkinson, Huntington, Influenza y muchas otras.
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/img/download.png">
      </ion-thumbnail>
      <ion-label>
        Descarga
        <p size-xs="12">Desde la página oficial de<a href="https://foldingathome.org"> folding at home</a></p>
      </ion-label>
    </ion-item>

    

  </ion-list>
  <h1 style=" margin-left: 20px;" class="title">Haciendo una donación</h1>
  <ion-list>
      <ion-item>
        <ion-text>
          Hay más de un método para contribuir a la investigación de Folding @ home, además de descargar y ejecutar nuestro software. Además, también puede donar fondos que nos permitirán continuar nuestro trabajo en los campos del plegamiento de proteínas, el diseño computacional de medicamentos y varias otras formas de dinámica molecular.
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
        <img src="../../assets/img/donate.png">
      </ion-thumbnail>
      <ion-label>
        Realiza una donación
        <p size-xs="12">Desde la página oficial de<a href="https://foldingathome.org/about/donate/"> folding at home</a></p>
      </ion-label>
      </ion-item>
      




  </ion-list>
  <!-- <ion-card>
    <ion-card-header>
      <img style="width: 50%; height: 50%; float:left; margin-right: 30px; border-radius: 50%;"
        src="../../assets/img/manos.jpg" />
      <ion-card-title>Instalar Folding at Home es fácil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" [routerLink]="['/manual']">
        Click para saber cómo
      </ion-button>
    </ion-card-content>
  </ion-card>-->



  <app-footer></app-footer>
</ion-content>