<div class="text-wrap">
  <ion-item text-wrap color="tertiary">
    <ion-avatar slot="start">
      <img src="assets/img/user.png" alt="">
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <ion-text>
        <h2 style="color: rgb(255, 255, 255);">{{comment.username}}</h2>
      </ion-text>
      <ion-text>
        <p style="color: rgb(231, 225, 225);">{{comment.comment}}</p>
      </ion-text>

    </ion-label>
  </ion-item>
</div>
<div style="margin-left: 5em;">
  <ion-item color="light">
    <ion-label position="stacked" color="medium">Responder a este comentario...</ion-label>
    <ion-input type="text" [(ngModel)]="response"></ion-input>
    <ion-button fill="clear" size="small" color="dark" clear (click)="addResponse(comment.id)">
      <ion-icon slot="start" name="chatbubble-outline"></ion-icon>Responder
    </ion-button>

  </ion-item>
  <div *ngFor="let response of respuestas">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/user.png" alt="">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text color="warning">
          <h3 style="color: orange;">{{response.responseUser}}</h3>
        </ion-text>
        <ion-text color="warning">
          <p>{{response.response}}</p>
        </ion-text>
        <ion-button *ngIf="response.responseUser == this.authService.currentUserName"
          (click)="deleteResponse(response.id)" fill="clear" color="danger" size="small">
          <ion-icon slot="start" name="trash-outline"></ion-icon>Eliminar respuesta
        </ion-button>
      </ion-label>
    </ion-item>
  </div>
  <ion-button *ngIf="!showed" fill="clear" color="success" (click)="showResponses(comment.id)">
    <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>Ver respuestas
  </ion-button>

  <div *ngIf="comment.username == this.authService.currentUserName">
    <ion-button (click)="deleteComment(comment.id)" size="small" fill="clear" color="danger">
      <ion-icon slot="start" name="trash-outline"></ion-icon>Eliminar comentario
    </ion-button>
  </div>
</div>