<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">BÚSQUEDA DE DONANTE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Accede a las estadísticas de un donante en concreto
        </ion-text>
        <ion-searchbar placeholder="Nombre de usuario" #donor [showCancelButton]="miStringDeCancell"
          (keyup.enter)="searchDonor(donor.value)">
        </ion-searchbar>
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">TOP DONANTES FOLDING AT HOME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Los donantes con más puntuación a día de hoy
        </ion-text>
        <canvas #donorsBarChart></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">BÚSQUEDA DE EQUIPO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Accede a las estadísticas de un equipo en concreto
        </ion-text>
        <ion-searchbar #team placeholder="Id de Equipo" [showCancelButton]="miStringDeCancell"
          (keyup.enter)="searchTeam(team.value)">
        </ion-searchbar>
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">TOP EQUIPOS FOLDING AT HOME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Los equipos con más puntuación a día de hoy
        </ion-text>
        <canvas #teamsBarChart></canvas>
      </ion-card-content>
      <br>
      <ion-card-header>
        <ion-card-title class="title">MAXIMIZA TU ESFUERZO</ion-card-title>
        <ion-card-subtitle>CONFIGURA TU EQUIPO</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Si estás interesado en crear tu equipo, puedes hacerlo <a href="https://apps.foldingathome.org/team" target="_blank">aquí</a>.
          
        </ion-text>
        
      </ion-card-content>
      <br>
    </ion-card>

  <app-footer></app-footer>

</ion-content>