<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <p>
    En las últimas semanas, más de 600.000 personas han descargado el programa que les permite
    colaborar con la investigación.
    La última semana se registraba más de un millón de usuarios activos, sumándose a la
    colaboración gente de todos los países del mundo.
    Debido al enorme alcance que ha logrado esta nueva línea de investigación ha contribuido
    además el apoyo de gigantes como NVIDIA, que hizo un llamamiento a la comunidad de
    gamers para que sumaran sus recursos a Folding@Home.

    Por otro lado, el proyecto está negociando una colaboración con LaLiga, que ya está
    ejecuntando el software de simulación en su propio equipo superordenador. “Cedemos un
    nodo de supercomputación que equivale a la capacidad de 4.232 ordenadores” precisa Emilio
    Fernández del Castillo, responsable de Protección Tecnológica de Contenidos de LaLiga.
  </p>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <div>
          Posición
        </div>
      </ion-col>
      <ion-col>
        <div>
          Nombre
        </div>
      </ion-col>
      <ion-col>
        <div>
          Crédito
        </div>
      </ion-col>
      <ion-col>
        <div>
          WUs
        </div>
      </ion-col>
      <ion-col>
        <div>
          Equipo
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          Top 100
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let donor of donors">
      <ion-col size="1">
        <div>
          {{donor.rank}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{donor.name}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{donor.credit}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{donor.wus}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{donor.team}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
<div> 
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>TOP DONATORS FOLDING AT HOME</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</div>
  
</ion-content>
