<ion-header>
  <ion-toolbar>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card class="welcome-card">
      <ion-card-content>
        <ion-row>


          <ion-col size-lg="9" size-xs="12">
            <ion-text class="ion-justify-content-center">
              Una de las mejores maneras de ayudar a Folding @ home es reclutando a Tus amigos y familiares. Comienza
              compartiendo nuestro proyecto con ellos. Entonces únete a un equipo o incluso comienza tu propio equipo.
              Cuantos más puntos gane tu equipo, más nos acercaremos a encontrar curas.
              En esta página encontrarás acceso a las estadísticas de los individuos y equipos que se han unido para
              ganar puntos y competir con otros equipos. Algunos de nosotros somos bastante intensos en nuestro enfoque
              del proyecto. Tenemos sitios web de equipos, superamos nuestros ordenadores e impulsamos la tecnología
              hacia adelante al informar errores y hacer sugerencias sobre cómo mejorar el software.
            </ion-text>
          </ion-col>
          <ion-col size-lg="3" size-xs="12">
            <ion-img src="assets/img/stats.jpg" alt=""></ion-img><br>
          </ion-col>
        </ion-row>


      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">TOP DONANTES FOLDING AT HOME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #donorsBarChart></canvas>
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>BÚSQUEDA DE DONANTE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar placeholder="Nombre de usuario" #donor [showCancelButton]="miStringDeCancell"
          (keyup.enter)="searchDonor(donor.value)">
        </ion-searchbar>
      </ion-card-content>
    </ion-card>


    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title class="title">TOP EQUIPOS FOLDING AT HOME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #teamsBarChart></canvas>
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>BÚSQUEDA DE EQUIPO</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar #team placeholder="Id de Equipo" [showCancelButton]="miStringDeCancell"
          (keyup.enter)="searchTeam(team.value)">
        </ion-searchbar>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title class="title">MAXIMIZA TU ESFUERZO</ion-card-title>
        <ion-card-subtitle>CONFIGURA TU EQUIPO</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Si está interesado en crear un equipo propio, puede comenzar aquí.
        </ion-text>
            <ion-button color="warning" href="https://apps.foldingathome.org/team/create">COMIENZA UN EQUIPO</ion-button>
            <ion-button color="warning" href="https://apps.foldingathome.org/team/update">CAMBIA LA INFORMACIÓN DE TU EQUIPO</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <app-footer></app-footer>

</ion-content>