<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="teamExists">Equipo: {{team.name}}</ion-title>
    <ion-title *ngIf="error">Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="teamExists">
  <ion-card id="teamCard">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <b>Fecha de la última Unidad de Trabajo (WU)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.last}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Puntuación Total</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="{{team.credit_cert}}">
                {{team.credit}}
              </a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Total de Unidades de Trabajo (WUs)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="{{team.wus_cert}}">
                {{team.wus}}
              </a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Posición en el Ranking</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.rank}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>CPUs activas (Últimos 50 dias)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{team.active_50}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

    <ion-toolbar>
      <ion-title >Miembros del equipo</ion-title>
    </ion-toolbar>

  <ion-card *ngFor="let donor of donors">
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <div>
              <b>Nombre</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <a href="/donor/{{donor.name}}">{{donor.name}}</a>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Posición en el Ranking</b>
            </div>
          </ion-col>
          <ion-col>
            <div *ngIf="donor.rank">
              {{donor.rank}}
            </div>
            <div *ngIf="!donor.rank">
              N/A
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Créditos</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.credit}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <b>Unidades de Trabajo (WUs)</b>
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{donor.wus}}
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" [disabled]="numTimesLeft<=0 && rest<=0">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>



<ion-content *ngIf="error">
  <ion-card>
    <ion-card-header>
      El equipo con id "{{id}}" no existe 
    </ion-card-header>
  </ion-card>
</ion-content>