<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

<!-- HEADER -->

  <ion-slides pager="true" [options]="slideOptionsOne">
    <ion-slide *ngFor="let slide of slides">
      <div class="container-home">
        <div class="overload-text">
          <h1 [innerHtml]="slide.titulo"></h1>
          <h3 [innerHtml]="slide.desc"></h3>
        </div>
        <div>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6" offset="3">
                <ion-button color="light" expand="full" shape="round" mode="ios" class="btn-prueba">
                  {{slide.boton}}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- FIN HEADER-->


  <!-- PÁGINA DE INICIO -->
    <div>
      <ion-card>
        <ion-card-header>
          <h1 class="title">Combate enfermedades junto a nosotros</h1>

            <img class="img-logo" src="assets/img/logo.png" alt="">

        </ion-card-header>
        <ion-card-content>
          <ion-item>
            
            <p class="p-distance">
              Folding at home es un proyecto, que busca la manera de investigar el Covid-19 haciendo uso de los equipos
              informáticos que decidan apoyar el proyecto.
              Los voluntarios del mundo que quieran contribuir en este proyecto lo hacen de manera que,
              ejecutan en sus equipos informáticos un “software” de computación distribuida que utiliza los
              recursos de sus procesadores para investigar la Covid-19, haciendo simulaciones para
              investigar las proteínas de las que se compone el virus y así poder hallar un tratamiento.
            </p>
          </ion-item>
          <br><br><br><br>
            <img class="imgHome" src="assets/img/initImage.jpg" alt="">

          <ion-item>
            <p class="p-distance">Folding at home te permite sumarte a la comunidad de investigadores que trabajan para
              desetrañar los secretos del coronavirus.
              Aún tus conocimientos científicos sean nulos, puedes contribuir en esta importante
              investigación.
              Este proyecto, nació en la Universidad de Standford hace más de veinte años, el cual integra
              equipos de laboratorios de todo el mundo en una plataforma de computación distribuida en la
              que cualquiera con un ordenador puede colaborar.
              Durante estos años, este proyecto ha servido de plataforma para la investigación del cáncer, el
              ébola, el alzheimer, el parkinson o la enfermedad de Hungington.
              Ahora, frente al Covid-19, se pueden hacer simulaciones de los movimientos de las proteínas,
              para hacer avanzar la investigación básica y los esfuerzos de desarrollo de fármacos.</p>
          </ion-item>
          
        </ion-card-content>
      </ion-card>
    </div>

  <!-- FIN PÁGINA DE INICIO -->

  <ion-footer>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 class="text-warning">Folding At Home</h6>
            <p class="text-justify">Se trata de un proyecto, el cual pretende servir de ayuda
              en la investigación de posibles tratamientos contra el COVID-19.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="text-warning">Estadísticas</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Apartado 1</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Apartado 2</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Apartado 3</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Apartado 4</a></li>
              <li><a href="http://scanfcode.com/category/android/">Apartado 5</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="text-warning">Colaborar</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Como colaborar</a></li>
              <li><a href="http://scanfcode.com/contact/">Participa</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Apartado</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Apartado</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Apartado</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 Todos los derechos reservados
              <a href="#">Grupo 3</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </ion-footer>



</ion-content>