<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- HEADER-->
  <section class="default-banner active-blog-slider">
    <div class="item-slider relative" style="background: url(assets/img/1.jpg);background-size: cover;">
      <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
      <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
          <div class="col-md-10 col-12">
            <div class="banner-content text-center">
              <h4 class="text-white mb-20 text-uppercase"></h4>
              <h1 class="text-uppercase text-white">FOLDING AT HOME - QUÉ ES?</h1>
              <p class="text-white">Resumen sobre el proyecto, con su principal finalidad y características.</p>
              <a href="#" class="text-uppercase header-btn">Saber más</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="item-slider relative" style="background: url(assets/img/1.jpg);background-size: cover;">
      <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
      <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
          <div class="col-md-10 col-12">
            <div class="banner-content text-center">
              <h4 class="text-white mb-20 text-uppercase"></h4>
              <h1 class="text-uppercase text-white">Comienza a colaborar</h1>
              <p class="text-white">Información relevante que aliente a que los lectores quieran colaborar en el proyecto.</p>
              <a href="#" class="text-uppercase header-btn">Quiero colaborar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-slider relative" style="background: url(assets/img/1.jpg);background-size: cover;">
      <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
      <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
          <div class="col-md-10 col-12">
            <div class="banner-content text-center">
              <h4 class="text-white mb-20 text-uppercase"></h4>
              <h1 class="text-uppercase text-white">COVID-19</h1>
              <p class="text-white">Información resumida sobre el covid-19 para aquellos que estén interesados en saber más acerca de ello.</p>
              <a href="#" class="text-uppercase header-btn">Saber más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FIN HEADER-->


  <!-- PÁGINA DE INICIO -->
  <br><br>
  <section>
    
    <div>
      <ion-card>
        <ion-card-header>
          <h2 class="title">FOLDING AT HOME - Qué es?</h2>
          <ion-item>
            <img class="img-logo" src="assets/img/logo.png" alt="">
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <p class="p-distance">
              Folding at home es un proyecto, que busca la manera de investigar el Covid-19 haciendo uso de los equipos
              informáticos que decidan apoyar el proyecto.
              Los voluntarios del mundo que quieran contribuir en este proyecto lo hacen de manera que,
              ejecutan en sus equipos informáticos un “software” de computación distribuida que utiliza los
              recursos de sus procesadores para investigar la Covid-19, haciendo simulaciones para
              investigar las proteínas de las que se compone el virus y así poder hallar un tratamiento.
            </p>
          </ion-item>
          <hr class="line">
          <hr>
          <ion-item>
            <img class="imgHome" src="assets/img/initImage.jpg" alt="">
            
          </ion-item>
          <ion-item>
            <p class="p-distance">Folding at home te permite sumarte a la comunidad de investigadores que trabajan para
              desetrañar los secretos del coronavirus.
              Aún tus conocimientos científicos sean nulos, puedes contribuir en esta importante
              investigación.
              Este proyecto, nació en la Universidad de Standford hace más de veinte años, el cual integra
              equipos de laboratorios de todo el mundo en una plataforma de computación distribuida en la
              que cualquiera con un ordenador puede colaborar.
              Durante estos años, este proyecto ha servido de plataforma para la investigación del cáncer, el
              ébola, el alzheimer, el parkinson o la enfermedad de Hungington.
              Ahora, frente al Covid-19, se pueden hacer simulaciones de los movimientos de las proteínas,
              para hacer avanzar la investigación básica y los esfuerzos de desarrollo de fármacos.</p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </section>

  <!-- FIN PÁGINA DE INICIO -->

  <ion-footer>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6 class="text-warning">Folding At Home</h6>
            <p class="text-justify">Se trata de un proyecto, el cual pretende servir de ayuda
              en la investigación de posibles tratamientos contra el COVID-19.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="text-warning">Estadísticas</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Apartado 1</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Apartado 2</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Apartado 3</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Apartado 4</a></li>
              <li><a href="http://scanfcode.com/category/android/">Apartado 5</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6 class="text-warning">Colaborar</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">Como colaborar</a></li>
              <li><a href="http://scanfcode.com/contact/">Participa</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Apartado</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Apartado</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Apartado</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 Todos los derechos reservados
              <a href="#">Grupo 3</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </ion-footer>

  

</ion-content>